.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#Navbar {
  background: linear-gradient(90deg, rgb(110, 94, 254) 0%, rgba(73, 63, 252, 1) 100%);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

li {
  list-style: none;
}

.main-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nft-list {
  display: flex;
}
